<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lottery App</title>
  </head>

  <body>
    <h1>Welcome to the Lottery App</h1>

    <form method="POST" action="/purchase" id="purchase">
      <div>
        <label>Enter your name to buy a ticket:</label>
        <input type="text" name="name" required>
        <input type="submit" value="Purchase">
      </div>
    </form>

    <form method="POST" action="/draw" id="draw">
        <input type="submit" value="draw">
    </form>

    <form method="POST" action="/winners" id="winners">
        <input type="submit" value="winners">
    </form>
    
    <form method="POST" action="/restart">
        <input type="submit" value="restart">
    </form>

    <section id="winnersArticle">

    </section>
    <section id="winnablePot">

    </section>
    <section id="tickets">

    </section>

    <!-- jQuery -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <!-- Index JS -->
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
