.background {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.container-fluid {
  background-color: #eee;
  min-height: 55em;
}

img {
  width: 1200px !important;
  height: 300px !important;

}
